# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.coverage
test.sqlite3
.pytest_cache/